@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: "zeldaFont";
    src: url(./Font/Triforce.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F2EBDC;
    text-align: center;
    max-width: 1600px;
}

.landing-container {
    background-color: #A68568;
}

body h3 {
    color: black;
    font-size: 60px;
    font-family: "zeldaFont";

}

body h1 {
    color: #115923;
    font-size: 100px;
    font-family: "zeldaFont";
    letter-spacing: 10px;

}

body h2 {
    color: black;
    font-size: 50px;
    font-family: "zeldaFont";
}

.landing-container button {
    height: 60px;
    width: 200px;
    font-size: 30px;
}

.main-game-container {
    display: flexbox;
    flex-direction: row;
    background: #A68568;
    overflow-y: auto;
}

#letters-and-images {
    display: flex;
    flex-direction: row;
}

.alphabet-list {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(9, 80px);
    background-color: black;
    width: 300px;
}

.alphabet {
    font-size: 50px;
    font-family: "VT323", monospace;
}

.game-display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* #background-image img {
    width: 100%;  
} */


#lonk-heart {
    width: 100px;
}

#gamon-heart {
    width: 100px;
}


#lonk-image img {
    width: 200px;
}

#gamon-image img {
    width: 200px;
}


.dashes {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
}

.dashes span {
    display: flex;
    margin: 5px;
    font-size: 70px;
    font-family: "VT323", monospace;
    color: black;
}

.guesses-left-container {
    font-size: 20px;
    font-family: "Monaco", monospace;
}

.game-over-container {
    text-align: center;
}

.game-over-container button {
    height: 60px;
    width: 200px;
    font-size: 30px;
}

#outcome-message {
    margin: 200px;
    font-size: 100px;
    font-family: "VT323", monospace;
}

.hide {
    display: none;
}

@media screen and (max-width: 1600px) {

    @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

    @font-face {
        font-family: "zeldaFont";
        src: url(./Font/Triforce.ttf);
    }

    * {
        box-sizing: border-box;
    }

    body {
        background-color: #F2EBDC;
        text-align: center;
        max-width: 1600px;
    }

    .landing-container {
        background-color: #A68568;
    }

    body h3 {
        color: black;
        font-size: 60px;
        font-family: "zeldaFont";

    }

    body h1 {
        color: #115923;
        font-size: 100px;
        font-family: "zeldaFont";
        letter-spacing: 10px;

    }

    body h2 {
        color: black;
        font-size: 50px;
        font-family: "zeldaFont";
    }

    .landing-container button {
        height: 60px;
        width: 200px;
        font-size: 30px;
    }

    .main-game-container {
        display: flexbox;
        flex-direction: row;
        background: #A68568;
        overflow-y: auto;
    }

    #letters-and-images {
        display: flex;
        flex-direction: row;
    }

    .alphabet-list {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(9, 80px);
        background-color: black;
        width: 300px;
    }

    .alphabet {
        font-size: 50px;
        font-family: "VT323", monospace;
    }

    .game-display-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* #background-image img {
    width: 100%;  
} */


    #lonk-heart {
        width: 100px;
    }

    #gamon-heart {
        width: 100px;
    }


    #lonk-image img {
        width: 200px;
    }

    #gamon-image img {
        width: 200px;
    }


    .dashes {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: center;
    }

    .dashes span {
        display: flex;
        margin: 5px;
        font-size: 70px;
        font-family: "VT323", monospace;
        color: black;
    }

    .guesses-left-container {
        font-size: 20px;
        font-family: "Monaco", monospace;
    }

    .game-over-container {
        text-align: center;
    }

    .game-over-container button {
        height: 60px;
        width: 200px;
        font-size: 30px;
    }

    #outcome-message {
        margin: 200px;
        font-size: 100px;
        font-family: "VT323", monospace;
    }

    .hide {
        display: none;
    }
}